<h1>
    {{name}} is {{20 + 11}} years old
</h1>
<h1 [style.color]="hasError ? 'red': 'orange'">  
    {{"His name is " + name}}
</h1>

<button (click)="onClick($event)">
    Greet
</button>
{{greeting}}

<h1 [class.text-danger]="hasError" >  
    {{"The length of his name is: " + name.length}}
</h1>

<h1 [ngClass]="messageClasses">  
    {{greetUser()}}
</h1>

<h1>  
    {{siteUrl}}
</h1>

<!-- Difference between html attribute and DOM property  
    Attribute changed and property doesn't-->

<!-- Property Binding-->
<input [id]="myId" type="text" value ="Bryan">
<!-- Property Binding-->
<input id-binding="isDisabled" type="text" value ="Bryan">

<!-- Interpolation can only works with string values -->
<input [disabled]="isDisabled" id={{myId}} type="text" value ="Bryan">


